
<br><br>
<div  class="row well">
  <div>
    <span class="col-md-3 col-md-offset-1"><button class="btn btn-success" href ng-click="adminctrl.CreateShow()">CREATE STUDENT</button></span>
    <span class="col-md-3 col-md-offset-1"><button class="btn btn-warning" href ng-click="adminctrl.editShow()">EDIT STUDENT</button></span>
    <span class="col-md-3 col-md-offset-1"><button class="btn btn-danger" href ng-click="adminctrl.showModalDeleteUser()">DELETE STUDENT</button></span>
    <hr><hr>
    <span class="col-md-3 col-md-offset-1"><button class="btn btn-default" href ng-click="adminctrl.Attendance()">ATTENDANCE</button></span>
    <span class="col-md-3 col-md-offset-1"><button class="btn btn-default" href ng-click="adminctrl.checkout()">CHECK OUT</button></span>
    <span class="col-md-3 col-md-offset-1"><button class="btn btn-default" href ng-click="adminctrl.test()">TEST</button></span>

  </div>



</div>

