<br><br>
<div class="well" >
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <img src="{{studentctrl.currentstudent.imageurl}}" class="img-circle" height="220px;"><img>
    </div>
    <div class="col-lg-7">
      <br><br>
      <div class="row">
        <div class="col-lg-5 ">
          <h3> Name: {{studentctrl.currentstudent.firstname}} {{studentctrl.currentstudent.lastname}}</h3>
        </div>
        <div class="col-lg-5">
          <h3> Roll No: {{studentctrl.currentstudent.rollno}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <h3> Standard: {{studentctrl.currentstudent.standard}}</h3>
        </div>
        <div class="col-lg-5">
          <h3> Fees Status: {{studentctrl.currentstudent.fees}} ({{studentctrl.currentstudent.lastfeespaid}})</h3>
        </div>
      </div>
    </div>
  </div>

</div>
<br><br>
<ul class="nav nav-tabs">
  <li ui-sref-active="active" class="active">
    <a ui-sref="student.attendance">Attendance</a>
  <li>
  <li ui-sref-active="active" class="active">
    <a ui-sref="student.test">TEST</a>
  <li>
</ul>
<div ui-view></div>

<!--<div ng-controller="attendanceController as attendance" id="attendance">

  &lt;!&ndash; ========== Usage ========== &ndash;&gt;
&lt;!&ndash;  <ad-table-lite table-name="attendance.studentAttendance"
                 enable-column-search="true"
                 column-definition="attendance.studentAttendanceColumnDefinition"
                 local-data-source="attendance.attendance"
                 page-sizes="[10,20,50]"
                 pagination-btn-group-classes="pagination pagination-sm"
                 table-classes="table table-bordered"
                 items-not-found-message="Attendance Not Found"
                 snug-sort-icons="true"
                 search-text="attendance.searchText"
                 state="attendance.state"
                 ></ad-table-lite>
</div>&ndash;&gt;
  -->
