<div>

  <!-- ========== Usage ========== -->
  <ad-table-lite table-name="test.testScore"
                 enable-column-search="true"
                 column-definition="test.testScoreColumnDefinition"
                 local-data-source="test.score"
                 page-sizes="[10,20,50]"
                 pagination-btn-group-classes="pagination pagination-sm"
                 table-classes="table table-bordered"
                 items-not-found-message="Attendance Not Found"
                 snug-sort-icons="true"
                 search-text="test.searchText"
                 state="test.state"
  ></ad-table-lite>
</div>
